    *{
        margin: 0;
        padding: 0;
    }
.addMoney{
    box-shadow: 6px 6px 12px;
    
}
#pocketmoney{
    color:#18a37a;
}
.addMoneyBtn{
    border-radius: 5px;
    border-color: chocolate;
    color: white;
    background-color: chocolate;
}
.addMoneyBtn:hover{
    background-color:#18a37a;
}
