
#bidIt{
    color: grey;
    font-family: 'Permanent Marker', cursive;
    font-weight: bolder;
    
}
#brandSlogan{
    color:grey;
}

#navbar a {
    color:  grey;
    
}
#navbar a:hover {
    color:black;
}
.navbarElements:hover{
    color:black;
}

/* .loginSignupButton{
    margin-top: 1px;
    margin-left: 80%;
        

} */
/* .carousel-item{
    height: 100%;
    width: 100vw;
} */

/* .carouselImage{
     /* margin-left:24% ; */
     
    
    /* } */ 
/* .carousel{
    margin-top: 5px;
    margin-left: 120px;
    margin-right: 100px;
} */
body{

    background-color:white;
    background-repeat: no-repeat;
     /* width: 100vw; */
    /* height: 100vh; */
     overflow-y: scroll ; 
     overflow-x: hidden;
    
 } 
.card{
    /* margin-top: 10px; */
    /* width: 30vw; */
    /* margin-left: 10px; */
    /* margin-right:10px ; */
    /* border-radius: 20px; */
    background-color:white;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    
}

.productName{
    color: floralwhite;
    background-color: chocolate;

}
.buttonls{
    color:white;
    background-color: chocolate;   
}

.productText{
    color: rgb(0, 0, 0);
}
.addProductButton{
    color:white;
    background-color: chocolate;
}


.productCard:hover{
  transform: scale(1.01);

}

.advertise1{
    color: white;
    background-color: rgb(21, 95, 164);
}

.advertise2{
    
    color: white;
    background-color: rgb(22, 64, 141);
}
