#logo{
    color: rgb(70, 68, 68);
    font-family: 'Permanent Marker', cursive;
    font-weight: bolder;
    
}
body {
    display: flex;
    align-items: center;
   justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #D1913C;
  }
   .admin{
    background: #D1913C;  
     background: -webkit-linear-gradient(to right, #FFD194, #D1913C); 
     background: linear-gradient(to right, #FFD194, #D1913C); 

  }  
  