#logo {
  color: rgb(70, 68, 68);
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #D1913C;
}

.admin {
  background: #FF8008;
  background: -webkit-linear-gradient(to right, #FFC837, #FF8008);
  background: linear-gradient(to right, #FFC837, #FF8008);


}